# Node modules
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
*.log
logs/
*.pid
*.seed
*.tgz

# Editor settings
.vscode/*
!.vscode/settings.json

.idea/
*.swp

# Env files
.env
.env.local

# Build / cache
dist/
.cache/
coverage/

# macOS
.DS_Store

# OS or system files
Thumbs.db